.header {
  height: 5vh;
  background-color: rgb(158, 195, 219);
  color: rgb(255, 255, 255);
  padding-inline: 1rem;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.logotipo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
